/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #2C3E50!important;
    margin-bottom: 50px;
}
footer,
header{
    background-color: #101840;
    color: #fff;
    padding: 10px 0;
}
header{
    margin-bottom: 50px;
}
footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}
