/* You can add global styles to this file, and also import other style files */
html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: #2C3E50!important;
    margin-bottom: 50px;
}
footer,
header{
    background-color: #101840;
    color: #fff;
    padding: 10px 0;
}
header{
    margin-bottom: 50px;
}
footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}
@media (max-width: 575.98px) { 
    h3{
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 

}

@media (min-width: 768px) and (max-width: 991.98px) { 
   .card{
       width: 100%;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card{
        width: 50%;
    }
}

@media (min-width: 1200px) { 
    form{
        width: 70%;
    }
    .card{
        width: 40%;
    }
}