.info{
    color: #fff;
}
.info img{
    width: 80px;
}
.card{
    width: 70%;
    margin: 40px auto 0px;
}
.card p{
    margin-bottom: 0;
}
h3{
    color: #fff; 
}
.caution img{
    width: 100%;
}
.card-header{
    background: #5bc0de;
}
@media (max-width: 575.98px) { 
    .card{
        width: 100%;
        margin: 20px auto 0px;
    }
    header{
        margin-bottom: 30px;
    }
    .card-body{
        padding: 1.0rem;
    }
    h3{
        font-size: 1.5rem;
    }
    hr{
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 

}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .card{
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card{
        width: 50%;
    }
}

@media (min-width: 1200px) { 
    .card{
        width: 40%;
    }
}